<!DOCTYPE html>
<html lang="en">

{% block head %}

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=devi ce-width, initial-scale=1.0">
  <title>{{item.title}}</title>
  <link rel="stylesheet" href="/style.css">

</head>

{% endblock %}

<body>
  <div class="header">
    <nav class="links">
      <a href="/">Sobre</a>
      <a href="/portifolio">Músicas</a>
    </nav>
  </div>

  {% block content %}{% endblock %}

  </body>

</html>
